<nz-table #fixedTable [nzData]="staffs" [nzScroll]="{ x: '1150px', y: '240px' }">
  <thead>
    <tr>
      <th nzLeft>Tên đầy đủ</th>
      <th nzLeft>Giới tính</th>
      <th>Ngày sinh</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Column 6</th>
      <th>Column 7</th>
      <th>Column 8</th>
      <th nzRight>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data">
      <td nzLeft>{{ data.firstname + ' ' + data.lastname }}</td>
      <td nzLeft>{{ generateFamale(data.female) }}</td>
      <td>{{ data.datebirth | date: 'MM/dd/yyyy' }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.address }}</td>
      <td nzRight>
        <a>action</a>
      </td>
    </tr>
  </tbody>
</nz-table>
