<div class="_main_add_staff">
  <div class="_content">
    <form nz-form [formGroup]="validateForm">
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
              <input nz-input formControlName="email" id="email" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">

        </div>
      </div>
    </form>
  </div>
  <div class="_footer">
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" (click)="handleAdd()">Thêm</button>
  </div>
</div>
