._main_add_staff {
  height: 80vh;
  ._content {
    height: 92%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    form {
      width: 100%;
      height: 100%;
      nz-form-item {
        .ant-form-item-label {
          text-align: left !important;
          font-weight: bold;
        }
      }
    }
  }
  ._footer {
    position: relative;
    display: flex;
    height: 8%;
    align-items: center;
    justify-content: flex-end;
    button {
      &:first-child {
        margin-right: 4px;
      }
    }
  }
}

