<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let item of menus">
        <li nz-submenu nzOpen [nzTitle]="item.title" [nzIcon]="item.icon">
          <ul>
            <ng-container *ngFor="let itemchild of item.childs">
              <li nz-menu-item nzMatchRouter>
                <a [routerLink]="itemchild.router" (click)="chooseItemMenu(itemchild.title)">{{itemchild.title}}</a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="title">
          <span>{{title}}</span>
        </div>
        <div class="icon">
          <nz-avatar nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzIcon="user"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li *ngIf="user" nz-menu-item><span style="margin-right: 4px;" nz-icon nzType="user" nzTheme="outline"></span> Tên: {{user.nickname}}
              </li>
              <li nz-menu-item><span style="margin-right: 4px;" nz-icon nzType="setting" nzTheme="outline"></span> Thông tin tài khoản</li>
              <li nz-menu-item nzDanger (click)="logout()"><span style="margin-right: 4px;" nz-icon nzType="logout" nzTheme="outline"></span> Đăng
                xuất</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
